* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2279b3;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: 600;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 25px;
  }
}

@media screen and (min-width: 650px) {
  h1 {
    font-size: 35px;
    font-weight: 500;
  }
}

p {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 4vh;
}

@media screen and (min-width: 500px) {
  p {
    font-size: 15px;
  }
}

@media screen and (min-width: 650px) {
  p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) {
  p {
    width: 79%;
    padding-top: 2vh;
  }
}

.first {
  position: relative;
}

.first .icon {
  position: absolute;
  right: 6vw;
  padding-top: 10px;
}

@media screen and (min-width: 600px) {
  .first .icon {
    right: 8vw;
  }
}

@media screen and (min-width: 1000px) {
  .first .icon {
    right: 1vw;
  }
}

.first .icon .fa-solid {
  font-size: 13px;
}

div {
  width: 100%;
  height: 6vh;
  min-height: 900px;
  padding: 1em;
  background-color: #dddd;
}

div header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media screen and (min-width: 800px) {
  div header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div header .bear {
    width: 300px;
  }
}

div .intro {
  display: block;
  margin-top: 3vh;
}

@media screen and (min-width: 1000px) {
  div .intro {
    padding-left: 7vw;
  }
}

div hr {
  border-bottom: 2px solid #b4b1b1;
}

div form {
  padding-top: 4vh;
}

div form span {
  display: block;
}

div form span textarea {
  width: 89vw;
}

div form span textarea:focus {
  outline: none;
  border: 1px solid deepskyblue;
}

div form span input {
  width: 89vw;
  height: 6vh;
  border-radius: 6px;
}

div form span input:focus {
  outline: none;
  border: 1px solid deepskyblue;
}

div form span .last {
  font-size: 13px;
}

div form span .commit {
  font-weight: 600;
}

div form nav {
  padding-bottom: 3vh;
}

div form .submitbtn input {
  width: 89vw;
  height: 6vh;
  border: 2px solid #2279b3;
  background-color: #2279b3;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  div form span input {
    width: 34%;
  }
  div form nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 7vw;
    gap: 2vw;
  }
  div form nav input {
    width: 24vw;
    font-size: 16px;
    padding-left: 9px;
  }
  div form nav .in {
    margin-top: 25px;
  }
  div form .email {
    width: 100%;
    margin-left: 7vw;
    padding-bottom: 5vh;
  }
  div form .email input {
    width: 53vw;
  }
  div form .comment {
    width: 100%;
    margin-left: 7vw;
    padding-bottom: 5vh;
  }
  div form .comment textarea {
    width: 53vw;
  }
  div form .submitbtn {
    width: 12vw;
    height: 9vh;
    margin-bottom: 9vh;
  }
}

@media screen and (min-width: 1000px) {
  div {
    width: 80%;
    margin: 6vh auto;
    border: 3px inset deepskyblue;
    border-radius: 12px;
  }
}

.err {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: red;
  color: white;
  font-size: 18px;
  margin-bottom: 2vh;
}

.suc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: green;
  color: white;
  font-size: 18px;
  margin-bottom: 2vh;
}
/*# sourceMappingURL=form.css.map */