@import "reset";
@import "mixin";
@import "varible";
div {
    @include WH(100%, 900px);
    padding: $padding;
    background-color: $bgcolor;
    header {
        display: flex;
        text-align: center;
        @include media($laptop) {
            justify-content: center;
            .bear {
                width: 300px;
            }
        }
    }
    .intro {
        display: block;
        margin-top: $topmargin;
        @include media(1000px) {
            padding-left: 7vw;
        }
    }

    hr {
        border-bottom: 2px solid $bordercolor;
    }

    form {
        padding-top: 1 + $topmargin;

        span {
            display: block;
            textarea {
                width: 89vw;
                &:focus {
                    outline: none;
                    border: 1px solid $secondbgcolor;
                }
            }
            input {
                @include WH(89vw, 6vh);
                border-radius: 6px;

                &:focus {
                    outline: none;
                    border: 1px solid $secondbgcolor;
                }
            }
            .last {
                font-size: 13px;
            }

            .commit {
                font-weight: 600;
            }
        }
        nav {
            padding-bottom: 1 * $topmargin;
            
        }
        .submitbtn {
            input {
                @include WH(89vw, 6vh);
                border: 2px solid $btnbg;
                background-color: $btnbg;
                color: $textcolor;
            }
        }
        @include media(1000px) {
            span {
                input {
                    width: 34%;
                }
            }
            nav {
                @include flex;
                margin-left: 7vw;
                gap: 2vw;

                input {
                    width: 24vw;
                }
                .in {
                    margin-top: 25px;
                }
            }
            .email {
                width: 100%;
                margin-left: 7vw;
                padding-bottom: 2 + $topmargin;
                input {
                    width: 53vw;
                }
            }
            .comment {
                width: 100%;
                margin-left: 7vw;
                padding-bottom: 2 + $topmargin;

                textarea {
                    width: 53vw;
                }
            }
            .submitbtn {
                @include WH(12vw, 9vh);
                margin-bottom: 6 + $topmargin;
            }
        }
    }
    @include media(1000px) {
        width: 80%;
        margin: 2 * $topmargin auto;
        border: 3px inset $secondbgcolor;
        border-radius: 12px;
    }
}
